@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.choices {
  width: fit-content;
  margin: 0 auto;

  display: flex;
  gap: 20px;
}
.choices button {
  border: none;
  width: 100px;
  height: 100px;
  font-size: 50px;
  border-radius: 10px;
  cursor: pointer;
}
#reset {
  display: none;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-family: "inter", sans-serif;
  border-radius: 8px;
  color: red;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.background {
  margin: 0 auto;
  background-color: rgb(220, 218, 218);
  border-radius: 25px;
  width: 800px;
  height: fit-content;
}
.game-title {
  color: rgb(1, 1, 92);
  font-family: "inter", sans-serif;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.reset-text {
  font-family: "inter", sans-serif;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 21px;
}
.player-score-name {
  font-family: "inter", sans-serif;
  padding-top: 20px;
  font-size: 18px;
  gap: 100px;
}
.computer-score-name {
  font-family: "inter", sans-serif;
  padding-top: 20px;
  font-size: 18px;
  /* gap: 100px; */
}
.flex {
  display: flex;
  justify-content: center;
}
.gap200 {
  gap: 200px;
}
.gap400 {
  gap: 300px;
}
.player-score {
  font-family: "inter", sans-serif;
  font-size: 21px;
  padding-top: 10px;
  padding-left: 100px;
  gap: 100px;
}
.computer-score {
  font-family: "inter", sans-serif;
  font-size: 21px;
  padding-top: 10px;
  padding-right: 100px;
  gap: 100px;
}
#user-win {
  color: rgb(189, 1, 1);
  font-size: 33px;
  font-family: "inter", sans-serif;
  display: flex;
  justify-content: center;
}
#bot-win {
  color: rgb(189, 1, 1);
  font-size: 33px;
  font-family: "inter", sans-serif;
  display: flex;
  justify-content: center;
}
.image {
  height: 100px;
  background-position: center;
  background-size: cover;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#user-win,
#bot-win {
  margin-bottom: 5px;
}
.game-btn {
  background-color: red;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-family: "inter", sans-serif;
  border-radius: 8px;
  color: white;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.gap50 {
  gap: 50px;
}
.game-btn:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.game-btn:active {
  transform: translateY(2px);
}
#reset:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#reset:active {
  transform: translateY(2px);
}
.game-btn:disabled {
  background-color: #ccc;
  color: #666;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}
